* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #020b35;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 14px;
  border-radius: 12px;
  font-weight: bold;
}

.sidebar a.active {
  background: #304ffe;
}

main {
  flex: 1;
  padding: 30px;
}

.topnav {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.topnav a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  transition: 0.2s;
}

.topnav a.active {
  color: #304ffe;
  border-bottom: 3px solid #304ffe;
}

h1 {
  font-size: 32px;
}